html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Высота на весь экран */
}

body {
    background-image: url('./image/fon.jpg');
    background-size: cover; /* Растянуть, сохраняя пропорции */
    background-position: center; /* Центрируем картинку */
    background-repeat: no-repeat; /* Убираем повтор */
    display: flex;
    flex-direction: column;
    min-height: 100vh;    
}

.client{
    display: flex;
    justify-content:left;
    align-items: center;
    gap:10px;
    grid-row:inherit;
    border: rgba(37, 44, 39, 0.07);
    flex: 1;    
}

.clients table, h1{
    width: 90%;
    border-collapse: collapse;
    margin: 0 auto;
}

.clients th, .clients td {
    border: 2px solid #ddd;
    padding: 8px;
    text-align: left;
}

.clients th {    
    font-weight: bold;
}
.clients td a{
    color: rgb(23, 170, 238);
}

h1{
    margin-top: 60px;    
}

.a1{
    margin-top: 20px;
    color:  rgb(7, 106, 152);   
    display: flex;    
    margin-left: 90px;
}

button{
    background-color: rgb(113, 180, 14);
    border-radius: 5px;
}