html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-image: url('./image/fon.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.content { 
    margin: 0;
    padding: 0;
    min-height: calc(100vh - 100px);
    width: 100%;
    padding-top: 50px;
    box-sizing: border-box;
}

.content .headPhoto{    
    top: 200px;
    left: 900px;
    height: 50vh;
    width: auto;

}