html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    justify-content: center; /* Горизонтальная центровка */     
    font-family: Arial, sans-serif; /* Шрифт (по желанию) */
    background-color: rgb(208, 208, 204);
    display: flex; /* Включаем Flexbox */
}

body1 {
    background-image: url('./image/ozero.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;     
    margin: 0; /* Убираем отступы */
    height: 55vh; /* Высота равна 100% экрана */
    display: flex; /* Включаем Flexbox */
    justify-content: center; /* Горизонтальная центровка */     
    font-family: Arial, sans-serif; /* Шрифт (по желанию) */
    
}

form {    
    padding: 20px; /* Внутренние отступы */
    border-radius: 10px; /* Закругленные углы */    
    width: 250px; /* Ширина формы */
    
}

form h3{
    text-align: center;
}

form input {
    width: 100%; /* Ширина инпутов на 100% от формы */
    padding: 10px; /* Внутренние отступы */
    margin-bottom: 10px; /* Отступы между полями */
    border: 1px solid #ccc; /* Обводка полей */
    border-radius: 5px; /* Закругленные углы полей */
    box-sizing: border-box; /* Учитываем padding в ширине */
}

form button {
    width: 100%; /* Ширина кнопки */
    padding: 10px; /* Внутренние отступы */
    background: #007BFF; /* Цвет кнопки */
    color: white; /* Цвет текста */
    border: none; /* Убираем границу */
    border-radius: 5px; /* Закругленные углы */
    cursor: pointer; /* Указатель мыши при наведении */
}

form button:hover {
    background: #0056b3; /* Цвет кнопки при наведении */
}

.optionGender{
    display:inline-flex;
    font-size: small;
    flex-direction: row;     
    text-align: center; 
    margin-left:30px; 
    
}

.haveAcc{
    margin-top: 10px;
    display:flex;
    font-size: small;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.haveAcc p {
    margin: 0; 
    color: #007BFF;
}

.haveAcc a {    
    text-decoration: none; 
    font-weight: bold; 
    color: #007BFF;
    cursor: pointer;
}

.haveAcc a:hover{
    color: #0056b3;
}

.error {
    font-size: small;
    color: red;
    text-align: center;
}

