html, body {
    margin: 0;
    padding: 0;    
}

.head{
    background-color: rgb(67, 183, 215);
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 25px;
    gap: 20px;   
    position: fixed; 
    top: 0;
    list-style: none;
}

.head a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: Georgia, serif;
}

.head li1:last-child1 {
    margin-left: auto;
    padding-right: 80px;  
    color: white; 
    font-weight: bold;
    font-family: Georgia, serif;    
}
.last_li{
    gap: 20px;
    margin-left: auto;
    padding-right: 80px;  
    color: white; 
    font-weight: bold;
    font-family: Georgia, serif;  
    display: flex;    
    align-items: center;
}

.head a:hover {
    color: #094c94;
}

@media (max-width: 768px) {
    .head {
        flex-direction: column;         
    }     

    .head a {
        font-size: 12px; 
    }
}