body1{
    background-image: url('./image/fon.jpg');
    background-size: cover; /* Растянуть, сохраняя пропорции */
    background-position: center; /* Центрируем картинку */
    background-repeat: no-repeat; /* Убираем повтор */
    display: flex;
    flex-direction: column;
    min-height: 100vh;    
}

html,body{
    background-color: rgb(222, 205, 205);    
    margin: 0;    
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.calendar {    
    max-width: 400px;
    margin: 20px auto;
    border: none;
    text-align: center;
    font-family: Arial, sans-serif;    
}

.calendar-header {
    background: skyblue;
    padding: 10px;
    font-size: 20px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: relative;    
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background: hsl(120, 16%, 89%);
}

.day {
    padding: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.inactive {
    color: #ccc;
    cursor: not-allowed;
}

.today {
    background: #ffc107;
    font-weight: bold;
}

.selected {
    background-color: #4caf50;
    color: white;
    font-weight: bold;
}

.month-nav button {
    background-color: skyblue;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.month-nav button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#prev-month, #next-month{
    font-weight: bold;
    background-color: skyblue;
    border-style: none;
}

.month-nav{
    display: flex;
    flex: 1;
    justify-content: space-between;
}

h3{
    text-align: center;   
    margin-top: 60px; 
}

.select_time{
    text-align: center;
}

.record_consultation{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;  
    width: max-content;    
}

.record_consultation:hover {
    background-color: #45a049;
}

.error {
    font-size: small;
    color: red;
    text-align: center; 
    width: 100%;
    padding: 0;
    background-color:white;
    border-radius: 5px;    
    margin-bottom: 10px; /* Отступы между полями */
    border: 1px solid #ccc; /* Обводка полей */
    border-radius: 5px; /* Закругленные углы полей */
    box-sizing: border-box; /* Учитываем padding в ширине */
    margin-top: 10px;
}

.success{
    font-size: medium;
    color: rgb(7, 192, 7);
    text-align: center;
    width: 100%;
}

.client{  
    display: flex;    
    justify-content:center;
    align-items: center; 
    text-align: center;   
    gap:10px;    
    border: rgba(37, 44, 39, 0.07);    
}

.a1{
    margin-top: 20px;
    color:  rgb(7, 106, 152);   
    display: flex;    
    justify-content: center;
    text-decoration: none;
}

button{
    background-color: rgb(185, 195, 170);
    border-radius: 5px;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Высота на весь экран */
    background-color:  rgb(222, 205, 205);    
}

h1{
    margin-top: 60px;  
    text-align: center;  
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
    }

    th {
    background: #252F48;
    color: white;
    text-shadow: 0 1px 1px #2D2020;
    padding: 10px 20px;
    }
    th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
    }
    th:first-child, td:first-child {
    text-align: left;
    }
    th:first-child {
    border-top-left-radius: 10px;
    }
    th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
    }
    td {
    padding: 10px 20px;
    background: #F8E391;
    }
    tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
    }
    tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
    }
    tr td:last-child {
    border-right: none;
    }

    td a{
        text-decoration: none;
        }

